<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta">
      {{user.trainer_name}} on {{format_date created_at}}
      <div class="text">
        <p>{{this.text}}</p>
      </div>
    </div>
  </section>
  {{/each}}
</div>