<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Operation Pokedex</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark mx-0" style="background-color: #00264d;">
         <div class="container-fluid sticky-top">
          <img src="/images/pokeball-logo2.png" alt="Logo" width="70" height="70" class="d-inline-block align-text-top">
          <a href="/" class="navbar-brand">Operation Pokedex</a>
          {{!--Nav Bar Button link Styling--}}
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/">Homepage</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
              </li>
              {{#if loggedIn}}
              <li class="nav-item">
                <a class="nav-link" id="logout">Logout</a>
              </li>
              {{else}}
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              {{/if}}
              <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
              </li>

            </ul>
          </div>
          </div>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <div id="footer" class="fixed-bottom text-white mx-0 mt-5" style="background-color: #00264d;">
      <div class="row">
        <h2 class="text-center" style="font-size: 20px;">Go catch 'em all!</h2>
        <div class="credits text-center">
          <p>Made by the Smooth Operators:</p>
              {{!-- TODO: import credit buttons and add names --}}
            <div class="credit-btns">
              <a href="https://github.com/ejackson1228">
                <input type="image" src="/images/credit-icon1-elijah.png" alt="credit-link" width="90" height="90" id="credit-btn" class="d-inline-block align-text-top mx-2">
              </a>
              <a href="https://github.com/charliec1665">
                <input type="image" src="/images/credit-icon2-charlie.png" alt="credit-link" width="90" height="90" id="credit-btn" class="d-inline-block align-text-top mx-2">
              </a>
              <a href="https://github.com/zasen01">
                <input type="image" src="/images/credit-icon4-zaiden.png" alt="credit-link" width="90" height="90" id="credit-btn" class="d-inline-block align-text-top mx-2">
              </a>
              <a href="https://github.com/n-roz">
                <input type="image" src="/images/credit-icon3-naomi.png" alt="credit-link" width="90" height="90" id="credit-btn" class="d-inline-block align-text-top mx-2">
              </a>
            </div>
        </div>
      </div>
    </div>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>

</html>