<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-description">Description</label>
      <input id="post-description" name="post-description" />
    </div>
    <div class="pokemon-team">
      <div class="pokeballs-div">
        <div class="pokeball-1"> <!-- this div marks the point to create a new pokeball -->
          <div class="poke-dropdown">
            <button id="open-dropdown-btn" class="dropdownbtn">Select Pokemon</button>
            <div id="myDropdown" class="dropdown-content">
              <input type="text" placeholder="Search..." id="poke-input" onkeyup="filterFunction()">
              {{#each pokemon}}
              <a>{{pokemon.name}}</a> <!-- fill out dropdown options with pokemon -->
              {{/each}}
            </div>
          </div>
        </div>
      </div>
      <!-- create 6 inputs inside of 6 pokeballs here -->
      <!-- please add entire pokemon object with id into the viable options in the dropwdown -->
      <!-- I need the ID to be able to properly fetch and correlate the necessary tables with each other - eli -->
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{!-- create team modal using input/search --}}

{{!-- using this '#if' to only show this if the user has posts --}}
{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{!-- using post-info partial --}}
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/js/add-post.js"></script>
<script src="/js/filtered-dropdown.js"></script>

