<form class="login-form">
  <div class="form-group">
    <label for="email-login" class="form-label">email:</label>
    <input type="text" id="email-login" class="form-control" />
  </div>
  <div class="form-group">
    <label for="password-login" class="form-label">password:</label>
    <input type="password" id="password-login" class="form-control" />
  </div>
  <div class="form-group">
    <button type="submit">login</button>
  </div>
</form>
{{!-- remember to give the absolute path, not relative file path --}}
<script src="/js/login.js"></script>